/*CSS RESET*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[role="list"] {
  list-style: none;
}

:root {
  --cell-padding-desktop: 4rem;
  --cell-padding-mobile: 2rem;
  --btn-padding: 1rem;
  --gap-base: 0.75rem;
  --gap-large: 1rem;
  --gap-small: 0.3rem;
}

body {
  color: white;
}

.grid-container {
  height: 100vh;
  margin: auto;
  display: grid;
  grid-template-areas:
    "header header header"
    "nav main aside"
    "footer footer footer";
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-gap: var(--gap-base) var(--gap-base);
  border: var(--gap-base) solid #fff;
}

.padding {
  padding: var(--cell-padding-desktop);
}

header {
  background: rgb(89, 16, 89);
  grid-area: header;
}
nav {
  grid-area: nav;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  row-gap: var(--gap-large);
}
nav > button.menu-link {
  background-color: rgb(181, 82, 181);
  border: none;
  color: white;
  padding: var(--btn-padding);
}

main {
  grid-area: main;
}
aside {
  background: pink;
  grid-area: aside;
}
footer {
  background: rgb(134, 216, 134);
  grid-area: footer;
  border-bottom: var(--gap-base) solid #fff;
}

/* Mobile version */
@media (max-width: 768px) {
  .grid-container {
    grid-template-areas:
      "header"
      "nav"
      "main"
      "aside"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .padding {
    padding: var(--cell-padding-mobile);
  }

  nav {
    row-gap: var(--gap-small);
  }
}
